@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900');
:root {
    --color-primary: #000000;
}

html, body {
    height: 100%;
    font-family: "Zen+Antique", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}


body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    color: #428bca;
    text-decoration: none;
  }
  
  a:hover {
    color: #9eccf4;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
  }
  /*--------------------------------------------------------------
  # Carrossel
  --------------------------------------------------------------*/
  .carousell{
   
    height: 3000px;
    display: flex;
    justify-content: center;
    background: #9eccf4;
  }

  .carousel .images img{
    width: 1024px;
    height: 576px;
  }

  
 
  
  

 
 
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 150px 0;
    
  }
  
  .section-bg {
    background-color: #f5f9fc;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5c768d;
  }
  .section-title p {
    margin-bottom: 0;
  }
 
  
  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  .about {
    padding-bottom: 30px;
  }
  .about .container {
    box-shadow: 0 10px 25px 0 rgba(214, 215, 216, 0.6);
  }
  .about .container img{
    float: left;
    width: 100%;
    padding: 20px;
    margin: 0px 10px 10px 0;
    border-radius: 25px;
    
 
  }

  .about .icon-box + .icon-box {
    margin-top: 10px;
  }
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    background: #f1f7fb;
    border-radius: 6px;
    transition: 0.5s;
  }
  .about .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
  }
  .about .icon-box:hover .icon {
    background: #428bca;
  }
  .about .icon-box:hover .icon i {
    color: #fff;
  }
  .about .icon-box .title {
    margin-left: 95px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .about .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  .about .icon-box .title a:hover {
    color: #428bca;
  }
  .about .icon-box .description {
    margin-left: 95px;
    line-height: 25px;
    font-size: 14px;
  }
 
  /*--------------------------------------------------------------
  # Our Team
  --------------------------------------------------------------*/
  .team {
    background: #fff;
    padding: 60px 0 30px 0;
  }
  .team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .team .member .pic {
    border-radius: 4px;
    overflow: hidden;
  }
  .team .member img {
    transition: all ease-in-out 0.4s;
  }
  .team .member:hover img {
    transform: scale(1.1);
  }
  .team .member .member-info {
    position: absolute;
    bottom: -48px;
    left: 20px;
    right: 20px;
    background: linear-gradient(360deg, #5c768d 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);
    padding: 15px 0;
    border-radius: 4px;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
  }
  .team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #fff;
  }
  .team .member .social a:hover {
    color: #9eccf4;
  }
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }
 
 
  .site-footer .credits {
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    
  }
  
  
  .site-footer {
    padding: 5em 0;
    background: #587187;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5); }

    .site-footer a {
      color: #88c5fa; }
      .site-footer a:hover {
        color: #428bca;
        }

  
  .footer-social a {
    line-height: 3;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block; }
    .footer-social a:hover {
      background: #fff;
      border-color: #fff;
      color: #428bca; }


      
